.locked-button {
    --ion-color-base: red;
    --ion-color-base-contrast: white;
    --ion-color-primary: red;
    --ion-color-primary-contrast: white;
  }
  
  .unlocked-button {
    --ion-color-base: green;
    --ion-color-base-contrast: white;
    --ion-color-primary: green;
    --ion-color-primary-contrast: white;
  }
  